:root {
    --main-text: #40454F;
    --dark-90: #535861;
    --dark-60: #8C8F95;
    --dark-40: #B3B5B9;
    --dark-25: #CFD0D3;
    --gray-blue: #DFEBEF;
    --facade: #FBF0EA;
    --white: #FFFFFF;
    --accent: #EF9166;
    --water: #066381;
}

@font-face {
    font-family: 'Circe-Regular';
    src: local("Circe-Regular"),
      url('../fonts/Circe-Regular.woff2') format('woff2'),
      url('../fonts/Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-Light';
    src: local("Circe-Light"),
      url('../fonts/Circe-Light.woff2') format('woff2'),
      url('../fonts/Circe-Light.woff') format('woff');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiveYearsLater';
    src: local("FiveYearsLater"),
      url('../fonts/FiveYearsLater.woff2') format('woff2'),
      url('../fonts/FiveYearsLater.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Circe-Regular", sans-serif;
    color: var(--main-text);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


// Text styles

h1 {
    font-size: 64px;
}

h2 {
    font-size: 44px;
}

h1, h2 {
    padding: 0;
    margin: 0;
    font-family: "FiveYearsLater", sans-serif;
    line-height: 100%;
}

.menu {
    font-size: 20px;
    line-height: 30px;
    color: var(--main-text);
}

.header-phone {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1%;
    color: var(--main-text);
}

.header-order-link {
    font-size: 14px;
    line-height: 14px;
    color: var(--water);
}

.light-p1 {
    font-family: "Circe-Light", sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: var(--dark-90);
}

.light-p1-mob {
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
    color: var(--dark-25);
}

.button {
    font-size: 16px;
    line-height: 16px;
}

.lead {
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-90);
}

.regular-p1 {
    font-size: 22px;
    line-height: 28px;
    color: var(--white);
}

.light-p2 {
    font-family: "Circe-Light", sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.factoid {
    font-family: 'FiveYearsLater', sans-serif;
    font-size: 111px;
    line-height: 147px;
    color: var(--dark-90);
}

.h4 {
    font-size: 26px;
    line-height: 36px;
}